<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <title>Matthan Myers | Software Engineer</title>
	    <link rel="stylesheet" href="styles/styles.css"> 
	    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/x-icon" href="images/favicon.ico" >
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
	    <script src="scripts/skrollr.min.js"></script>
	    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
	    <script src="scripts/scripts.js"></script>

	</head>
	<body>
		<nav class="mobile-content mobile-nav">
			<ul>
				<li class="mobile-nav-button mobile-nav-main"><a href="javascript:void(0);"></a></li>
				<li class="1 mobile-nav-button mobile-nav-top mobile-nav-follower"><a href="javascript:void(0);"></a></li>
				<li class="2 mobile-nav-button mobile-nav-gear mobile-nav-follower"><a href="javascript:void(0);"></a></li>
				<li class="3 mobile-nav-button mobile-nav-code mobile-nav-follower"><a href="javascript:void(0);"></a></li>
				<li class="4 mobile-nav-button mobile-nav-me mobile-nav-follower"><a href="javascript:void(0);"></a></li>
			</ul>
		</nav>
		<nav class="button-nav">
		    <ul>
		      <li class="1"><a href="#/" ng-click=""><div class="circle-expanded"></div></a></li>
		      <li class="2"><a href="#/" ng-click=""><div class="circle"></div></a></li>
		      <li class="3"><a href="#/" ng-click=""><div class="circle"></div></a></li>
		      <li class="4"><a href="#/" ng-click=""><div class="circle"></div></a></li>
		    </ul>
  			</nav> 
		<div>
			<div id="container-1" class="container-div">
			  <video autoplay loop poster="images/Leaf.png" id="background-video">
			    <source src="images/Leaf.mp4" type="video/mp4">
			  </video> 
			  <div class="skrollr-content top-25-vh left-25-vw" data-50-top="left: 25vw;" data--50-top="left: -30vw;">
			    <b>Hi. My name is</b>
			  </div>
			  <div class="mobile-content-settings mobile-content" style="top: 25vh; left: 10vw;">
			    <b>Hi. My name is</b>
			  </div>
			  <div class="skrollr-name top-45-vh left-40-vw" data-50-top="left: 40vw;" data--50-top="left: 130vw;">
			    <b>Matthan Myers</b>
			  </div>
			  <div class="mobile-name-settings mobile-content" style="top: 45vh; left: 15vw;">
			    <b>Matthan Myers</b>
			  </div>
			  <div class="skrollr-content top-70-vh left-33-vw" data-50-top="left: 33vw;" data--50-top="left: -30vw;">
			    <b>and I'm <span class="marquee"></span><span class="blink">|</span></b>
			  </div>
			  <div class="mobile-content-settings mobile-content" style="top: 70vh; left: 5vw;">
			    <b>and I'm <span class="marquee"></span><span class="blink">|</span></b>
			  </div>
			</div>                                                                                                                                                           
			<div id="container-2" class="container-div">
				<div class="skrollr-content header" data-50-top="left: 35%;" data--50-top="left: -30vw;" data--50-bottom="left: 35%;" data-50-bottom="left: -30vw;">
					<div class="display-flex">
						<img src="images/Gear.png" class="spin header-img">
						<div class="header-text"><b>What I Do</b></div>
					</div>
				</div>
				<div class="skrollr-content about-box-1" data-50-top="left: 40vw;" data--50-top="left: 110vw;" data--50-bottom="left: 40vw;" data-50-bottom="left: 110vw;">
					<div class="display-flex">
						<div class="about-text"><b>When given a task or problem, I'm skilled at brainstorming and coming up with possible solutions. Once I choose the best solution, I can efficiently map out and execute the solution.</b>
						</div>
						<img src="images/Code.png" class="header-img">
					</div>
				</div>
				<div class="mobile-content-settings about-box-1-mobile mobile-content">
					<div class="display-flex">
						<div><b>I solve complex problems using advanced techniques and discrete math.</b>
						</div>
						<img src="images/Code.png" class="header-img">
					</div>
				</div>
				<div class="skrollr-content about-box-2" data-50-top="left: 20vw;" data--50-top="left: -30vw;" data--50-bottom="left: 20vw;" data-50-bottom="left: -30vw;">
					<div class="display-flex">
						<img src="images/tags.png" class="header-img">
						<div class="about-text"><b>I' communicate effectively and am able to convey ideas and thoughts to others well. I enjoy working on teams and am able to connect to coworkers on both a professional and personal level'.
						</b></div>
					</div>
				</div>
				<div class="mobile-content-settings about-box-2-mobile mobile-content">
					<div class="display-flex">
						<img src="images/tags.png" class="header-img">
						<div><b>I enjoy communicating and working on a team.</b>
					</div>
					</div>
				</div>
				<div class="skrollr-content about-box-3" data-50-top="left: 45vw;" data--50-top="left: 110vw;" data--50-bottom="left: 45vw;" data-50-bottom="left: 110vw;">
					<div class="display-flex">
						<div class="about-text"><b>I work with a wide variety of languages, such as HTML, CSS, Sass, JavaScript, jQuery, TypeScript, Node.js and AngularJS for web development. I also have strong expertise in C# and C++.</b></div>
						<img src="images/Chat.png" class="header-img">
					</div>
				</div>
				<div class="mobile-content-settings about-box-3-mobile mobile-content">
					<div class="display-flex">
						<div><b>I have very diverse experience and love to code.</b></div>
						<img src="images/Chat.png" class="header-img">
					</div>
				</div>
			</div>
			<div id="container-3" class="container-div">
				<div class="skrollr-content header" data-50-top="left: 35%;" data--50-top="left: -30vw;" data--50-bottom="left: 35%;" data-50-bottom="left: -30vw;">
					<div class="display-flex">
						<img src="images/Check2.png" class="header-img">
						<div class="header-text"><b>What I've Done</b></div>
					</div>
				</div>

				<div class="skrollr-content about-box-1" data-50-top="left: 40vw;" data--50-top="left: 110vw;" data--50-bottom="left: 40vw;" data-50-bottom="left: 110vw;">
					<div class="display-flex">
						<div class="about-text"><b>A scalable tool to compare filesets for copyright lawsuits, ultracompare is written in Node.js and Typescript and incorporates a Redis and Mongo database to produce meaningful and queryable results.</b>
						</div>
						<img src="images/Ultracompare.png" class="header-img">
					</div>
				</div>
				<div class="skrollr-content about-box-2" data-50-top="left: 20vw;" data--50-top="left: -30vw;" data--50-bottom="left: 20vw;" data-50-bottom="left: -30vw;">
					<div class="display-flex">
						<img src="images/TACC.png" class="header-img">
						<div class="about-text"><b>Wanting an update to the web admin console, TACC required help moving from ASP.NET MVC 2 to ASP.NET MVC 5+, utilizing C#, CSS, jQuery, HTML, and the Twitter Bootstrap framework.
						</b></div>
					</div>
				</div>
				<div class="skrollr-content about-box-3" data-50-top="left: 45vw;" data--50-top="left: 110vw;" data--50-bottom="left: 45vw;" data-50-bottom="left: 110vw;">
					<div class="display-flex">
						<div class="about-text"><b>Grown Up Me was a website written in ASP.NET 4+. Intended as a replacement for aptitude tests, Grown Up Me was designed to help students pick college majors and careers based on future lifestyles.</b></div>
						<img src="images/GUM.png" class="header-img">
					</div>
				</div>

				<!--<div class="skrollr-content works-box-1" data-50-top="left: 60vw;" data--50-top="left: 110vw;" data--50-bottom="left: 60vw;" data-50-bottom="left: 110vw;">
					<div class="display-flex">
						<div class="works-text"><b></b></div>
					</div>
				</div>
				<div class="skrollr-content works-box-2" data-50-top="left: 20vw;" data--50-top="left: -30vw;" data--50-bottom="left: 20vw;" data-50-bottom="left: -30vw;">
					<div class="display-flex">
						<div class="works-text"><b></b></div>
					</div>
				</div>
				<div class="skrollr-content works-box-3" data-50-top="left: 50vw;" data--50-top="left: 110vw;" data--50-bottom="left: 50vw;" data-50-bottom="left: 110vw;">
					<div class="display-flex">
						<div class="works-text"><b></b></div>
					</div>
				</div>-->
			</div>
			<div id="container-4" class="container-div">
				<div class="skrollr-content header" data-50-top="left: 35%;" data--50-top="left: -30vw;" data--50-bottom="left: 35%;" data-50-bottom="left: -30vw;">
					<div class="display-flex">
						<img src="images/Questionmark2.png" class="header-img">
						<div class="header-text"><b>What I'll Do Next</b></div>
					</div>
				</div>
				<div class="skrollr-content info-text" data-50-top="left: 40vw;" data--50-top="left: 110vw;" data--50-bottom="left: 40vw;" data-50-bottom="left: 110vw;">
					<p class="no-margin"><b>You tell me.</b></p>
					<span class="font-size-5vh no-margin"><br>Reach me at <b>(512)207-0351</b><br>or <b>matthanmyers@gmail.com</b></span>
				</div>
				<div class="skrollr-content left--30-vw top-60-vh no-padding" data-50-top="left: 25vw;" data--50-top="left: -30vw;" data--50-bottom="left: 25vw;" data-50-bottom="left: -30vw;">
					<div class="display-flex">
						<img src="images/Matthan.png" class="portrait-img">
						<div class="icon-wrapper"><a href="https://www.linkedin.com/in/matthanmyers"><div class="icon-img linkedin"></div></a></div>
						<div class="icon-wrapper"><a href="https://www.facebook.com/matthan.myers"><div class="icon-img facebook"></div></a></div>
						<div class="icon-wrapper"><a href="https://twitter.com/matthanmyers"><div class="icon-img twitter"></div></a></div>
					</div>
				</div>	
			</div>
    	</div>
    </body>
</html>	